@import "tailwindcss";

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Kiwi Maru", serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden; /* bloquea cualquier scroll vertical */
}

