@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Kiwi Maru", serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

:root {
  --card-shadow: 0 0 25px 4px rgba(12, 3, 3, 0.4); 
}

.dark {
  --card-shadow: 0 0 25px 4px rgba(255,0,0,0.4); 
}

.theme-transition * {
  transition: background-color 0.9s ease,background-image 1.5s, color 0.9s ease, border-color 0.9s ease, box-shadow 0.9s ease, transform 0.9s ease, opacity 0.9s ease;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #110505; /* indigo-300 */
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

.loader {
  width: 60px;
  height: 25px;
  border: 2px solid currentColor;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}

.loader::before,
.loader::after {
  content: "";
  grid-area: 1 / 1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}

.loader::after {
  --s: -1;
}

@keyframes l2 {
  100% {
    transform: rotate(calc(var(--s, 1) * 1turn));
  }
}

:root {
  --header-h: 59px; /* o lo que mida tu header */
}


