@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

.kiwi-maru-regular {
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
}

body{
    font-family: "Kiwi Maru", serif;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    scroll-behavior: smooth;
}

html {
  overflow-x: hidden;
}

:root {
  --card-shadow: 0 0 25px 4px rgba(12, 3, 3, 0.4); 
}

.dark {
  --card-shadow: 0 0 25px 4px rgba(255,0,0,0.4); 
}

.theme-transition * {
  transition: background-color 0.9s ease, color 0.9s ease, border-color 0.9s ease, box-shadow 0.9s ease, transform 0.9s ease, opacity 0.9s ease;
}



